* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-content: center;
}

main {
  background: url("./images/background.svg");
  width: 375px;
  height: 812px;
}

.content {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
  position: relative;
}

.avatar {
  /* width: 10rem;  coloquei fixo no html*/
  margin: 11.5rem auto 0;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--gray);
  margin-top: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
